@font-face {
  font-family: GameBoy;
  src: url(../fonts/GameCube.ttf);
}
@font-face {
  font-family: Pixels;
  src: url(../fonts/Pixeboy.ttf);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
/*------------------------- UNIVERSAL -------------------------*/
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
  color: #000000;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
  font-family: 'Fira Sans', sans-serif;
  color: #2e2e2e;
  line-height: 1.3;
}
li {
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  color: #2e2e2e;
}
a {
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  color: #2e2e2e;
}
.container {
  width: 80%;
}
.about-v1 {
  border: 5px solid black;
  text-align: left;
  padding: 2rem 0 2rem 2rem;
}
.about-v1 h2 {
  font-family: GameBoy;
  text-transform: uppercase;
  font-size: 30px;
}
.about-v1 p {
  font-family: Pixels;
  font-size: 20px;
}
.rules-v1 {
  border: 5px solid black;
  text-align: left;
  padding: 2rem 0 2rem 2rem;
}
.rules-v1 h2 {
  font-family: GameBoy;
  text-transform: uppercase;
  font-size: 30px;
}
.rules-v1 p {
  font-family: Pixels;
  font-size: 20px;
}
.navbar {
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.navbar h1 {
  font-family: Gameboy;
  text-transform: uppercase;
}
.menu-container {
  position: relative;
  width: 200px;
}
.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  border-bottom: 1px solid #dddddd;
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  height: 100%;
  width: 35%;
  margin-left: auto;
}
.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}
.menu-trigger img {
  border-radius: 90px;
}
.button-section {
  width: 100%;
  margin: 2rem 0 0 3rem;
}
.button-section-row-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.button-section-row-2 {
  display: flex;
  margin: 5rem 0 0 15rem  ;
  width: 30%;
  justify-content: space-evenly;
}
.gb-text {
  color: #2b10a1;
}
.d-pad-section {
  margin: 3rem 0 0;
}
.d-pad {
  background-color: #17140f;
}
.ud {
  width: 4rem;
  height: 4rem;
  margin-left: 4rem;
}
.lr {
  width: 4rem;
  height: 4rem;
}
.lr-row {
  display: flex;
}
.row {
  display: flex;
  transform: rotate(-25deg);
  margin-bottom: 2rem;
  width: 15rem;
  justify-content: space-evenly;
}
.xy-text-row {
  width: 20rem;
  margin: 0 0 0 -4rem;
}
.xy {
  background-color: #bb241b;
}
.abxy-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.ab-btn-row {
  margin: -1rem 0 0 4rem;
}
.ab {
  background-color: #711a2b;
}
.ab-text-row {
  width: 20rem;
  margin: 0rem 0 0 3.5rem;
}
.start,
.select {
  transform: rotate(-30deg);
}
.ss {
  background-color: #69605d;
  border-radius: 25px;
  width: 5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
.ss-text {
  font-size: 1.3rem;
}
.title {
  display: flex;
  margin: 1rem 0 0.5rem 7rem;
}
.title h2 {
  font-size: 1.5rem;
  margin: 0.2rem 0.5rem 0 0;
  color: #2b10a1;
}
.title h1 {
  font-size: 1.85rem;
  color: #2b10a1;
}
.title h3 {
  font-size: 1rem;
  margin: 0.7rem 0 0 0.2rem;
  color: #2b10a1;
}
.gameboy {
  margin: 4rem 0;
  border-radius: 15px 15px 75px 15px;
  background-color: #b6ab9f;
  width: 55rem;
  height: 80rem;
  padding-top: 3rem;
}
.screen-border {
  border-radius: 15px 15px 55px 15px;
  background-color: black;
  margin: 0 auto 0;
  padding-top: 2.5rem;
  width: 90%;
  height: 40rem;
}
.screen {
  margin: -0.5rem 2.3rem;
  width: 45rem;
  height: 36rem;
  background-color: white;
  border-radius: 5px;
}
.logo h1 {
  font-family: Pixelboy;
  font-size: 10rem;
  padding: 7rem 0 0 0;
}
.logo h2 {
  font-family: Pixelboy;
  font-size: 6.7rem;
  margin: -2rem 0 7.2rem 0;
  padding: 0 0 0 0;
}
.about h1 {
  font-family: Pixelboy;
  font-size: 4rem;
  padding: 1rem 0 0 0;
}
.about p {
  font-family: Pixelboy;
  font-size: 1.75rem;
  padding: 0rem 3rem 0 5.3rem;
  text-align: left;
}
.about {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rules {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rules h1 {
  font-family: Pixelboy;
  font-size: 4rem;
  padding: 1rem 0 0 0;
}
.rules ul li {
  font-family: Pixelboy;
  font-size: 1.75rem;
  padding: 0rem 3rem 0 5.3rem;
  text-align: left;
}
.rules ul {
  margin-bottom: 3.1rem;
}
.OSB {
  font-family: Pixelboy;
  border: 3px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
}
.OSB2 {
  font-family: Pixelboy;
  border: 3px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  width: 15%;
  margin: 1.5rem 0 0 5.3rem;
}
.OSB3 {
  font-family: Pixelboy;
  border: 3px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  width: 15%;
  margin: 1.5rem 0 0 5.3rem;
}
.OSBGroup {
  display: flex;
  justify-content: space-between;
  margin: -1rem 4rem 0;
}
