/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
/*------------------------- UNIVERSAL -------------------------*/
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
  color: #000000;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
  font-family: 'Fira Sans', sans-serif;
  color: #2e2e2e;
  line-height: 1.3;
}
li {
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  color: #2e2e2e;
}
a {
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  color: #2e2e2e;
}
.container {
  width: 80%;
}
.button-section {
  width: 100%;
  margin: 2rem 0 0 3rem;
}
.button-section-row-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.button-section-row-2 {
  display: flex;
  margin: 5rem 0 0 15rem  ;
  width: 30%;
  justify-content: space-evenly;
}
.gb-text {
  color: #2b10a1;
}
.d-pad-section {
  margin: 3rem 0 0;
}
.d-pad {
  background-color: #17140f;
}
.ud {
  width: 4rem;
  height: 4rem;
  margin-left: 4rem;
}
.lr {
  width: 4rem;
  height: 4rem;
}
.lr-row {
  display: flex;
}
.row {
  display: flex;
  transform: rotate(-25deg);
  margin-bottom: 2rem;
  width: 15rem;
  justify-content: space-evenly;
}
.xy-text-row {
  width: 20rem;
  margin: 0 0 0 -4rem;
}
.xy {
  background-color: #bb241b;
}
.abxy-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.ab-btn-row {
  margin: -1rem 0 0 4rem;
}
.ab {
  background-color: #711a2b;
}
.ab-text-row {
  width: 20rem;
  margin: 0rem 0 0 3.5rem;
}
.start,
.select {
  transform: rotate(-30deg);
}
.ss {
  background-color: #69605d;
  border-radius: 25px;
  width: 5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
.ss-text {
  font-size: 1.3rem;
}
.title {
  display: flex;
  margin: 1rem 0 0.5rem 7rem;
}
.title h2 {
  font-size: 1.5rem;
  margin: 0.2rem 0.5rem 0 0;
  color: #2b10a1;
}
.title h1 {
  font-size: 1.85rem;
  color: #2b10a1;
}
.title h3 {
  font-size: 1rem;
  margin: 0.7rem 0 0 0.2rem;
  color: #2b10a1;
}
.gameboy {
  margin: 4rem 0;
  border-radius: 15px 15px 75px 15px;
  background-color: #b6ab9f;
  width: 60rem;
  height: 80rem;
  padding-top: 3rem;
}
.screen-border {
  border-radius: 15px 15px 75px 15px;
  background-color: black;
  margin: 0 auto 0;
  padding-top: 2.5rem;
  width: 80%;
  height: 40rem;
}
.screen {
  margin: 0 auto;
  width: 40rem;
  height: 35rem;
  background-color: white;
  border-radius: 5px;
}
