body {
  color:#212f3c;
  background-color: white;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header {
  background-image: linear-gradient(to bottom right, navy, darkGray);
  padding: 2%;
  margin-bottom: 1%;
}
.header h1 {
  font-size: 250%;
  color: white;
}

table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
  background-color: black;
}
td {
  width: 15px;
  height: 15px;
  border: 1px solid darkGray;
}
.alive {
  background-color: white;
}
.alive:hover {
  background-color: red;
}
.dead:hover {
  background-color: darkGray;
}
button {
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: darkGray;
  cursor: pointer;
}
button:hover {
  color: red;
}
.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.upperControls, .lowerControls {
  margin: auto 10%;
}
.upperControls {
  width: 350px;
}
.lowerControls {
  width: 500px;
}

.boardLevel {
  margin: 0 2.5%
}
.textBoxes {
  width: 60%;
}
.textBoxes div {
  margin: 0 5% 5%;
}
.rules {
  font-size: 200%;
}
.rules ul {
  text-align: left;
}
.about {
  margin: 1% auto;
}
.about p {
  text-align: center;
}