body {
  color:#212f3c;
  background-color: white;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
  background-color: black;
}
td {
  width: 15px;
  height: 15px;
  border: 1px solid darkGray;
}
.alive {
  background-color: white;
}
.alive:hover {
  background-color: red;
}
.dead:hover {
  background-color: darkGray;
}
button {
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: darkGray;
  cursor: pointer;
}
button:hover {
  color: red;
}
.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.upperControls, .lowerControls {
  margin: auto;
}
.upperControls {
  width: 350px;
}
.lowerControls {
  width: 500px;
}
